<nav class="navbar navbar-expand-sm fixed-top">

      <img width="150" alt="Temasek Poly Logo" src="assets/tplogo.png">

      <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <div class="navbar-nav">
          <li><a class="nav-link" routerLink="/home">Home</a></li>
          <li><a class="nav-link" routerLink="/about">About</a></li>
          <li><a class="nav-link" (click)="goToAcc()" style="color: #14A76C;">Account</a></li>
          <li *ngIf="isAdmin"><a class="nav-link" routerLink="/admin">Admin</a></li>
          <li><a class="nav-link" routerLink="/logout">Logout</a></li>
        </div>

      </div>

</nav>