<div class="container-fluid">
  <div class="row">

    <div class="col" style="color: #14A76C; background-color: #272727; padding-left: 5rem; padding-right: 5rem;">
      <br>
      <p><a href="https://www.tp.edu.sg/" target="_blank"><b>Temasek Polytechnic</b></a></p>
      <p>21 Tampines Avenue 1, Singapore 529757</p>
      <p>+65 6788 2000</p>
      <p><a href="mailto:temasekpoly@tp.edu.sg">temasekpoly@tp.edu.sg</a></p>
      <p><b>Copyrights @ Temasek Polytechnic. All Rights Reserved.</b></p>
    </div>

    <div class="col" style="color: #14A76C; background-color: #272727; padding-left: 5rem; padding-right: 5rem;">
      <br>
      <a href="https://www.facebook.com/temasekpoly/" target="_blank"><img width="50" alt="Facebook Poly Logo"
          src="assets/fb.png"></a> &nbsp;&nbsp;
      <a href="https://twitter.com/temasekpoly?lang=en" target="_blank"><img width="50" alt="Twitter Logo"
          src="assets/twitter.png"></a> &nbsp;&nbsp;
      <a href="https://www.instagram.com/temasekpoly/?hl=en" target="_blank"><img width="50" alt="Instagram Logo"
          src="assets/ig.png"></a> &nbsp;&nbsp;
      <a href="https://www.youtube.com/channel/UCqyrGojCe6wNbhl-OM-MHiw" target="_blank"><img width="50"
          alt="Youtube Logo" src="assets/yt.png"></a> &nbsp;&nbsp;
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p><b>Bringing Education to Life and Life to Education</b></p>
    </div>

  </div>
</div>